package com.lukianbat.test.pokeapp.feature.posts.data.datasource.api

import com.lukianbat.test.pokeapp.feature.posts.domain.model.PokemonDetailNetworkDto
import com.lukianbat.test.pokeapp.feature.posts.domai